{% extends "employertemplates/employerbase.html" %}
{% block jobdetail %}active{% endblock %}

{% block content %}

<h3>Detail about {{jobdetail.title}} job</h3>
<div class="row">
	<div class="col-md-6">
		<table class="table">
			
			<tr>
				<th>Title</th>
				<td><h4></h4>{{jobdetail.title}}<!-- ({{jobdetail.application_set.count}} applications on this position) --></h4></td>
			</tr>
		
			<tr>
				<th>Category</th>
				<td>{{jobdetail.category}}</td>

			</tr>
			<tr>
				<th>Image</th>
				<td><image src="{{jobdetail.image.url}}" class="img-fluid"></td>

			</tr>
			<tr>
				<th>no_of_post</th>
				<td>{{jobdetail.no_of_post}}</td>

			</tr>
			<tr>
				<th>deadline</th>
				<td>{{jobdetail.deadline}}</td>

			</tr>
			<tr>
				<th>level</th>
				<td>{{jobdetail.level}}</td>

			</tr>
			<tr>
				<th>experience</th>
				<td>{{jobdetail.experience}}</td>

			</tr>
			<tr>
				<th>salary</th>
				<td>{{jobdetail.salary}}</td>

			</tr>
			<tr>
				<th>description</th>
				<td>{{jobdetail.description}}</td>

			</tr>
			<tr>
				<th>view_count</th>
				<td>{{jobdetail.view_count}}</td>

			</tr>
			
		</table>

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead><tr>
				<th>sn</th>
				<th>Applicants</th>
				<th>Applied on</th>
				<th>Cv download</th>
				
			</tr></thead>
			<tbody>
				{% for application in jobdetail.application_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'quickapp:employerjobseeker' application.jobseeker.id %}">{{application.jobseeker.full_name}}</a></td>
					
					<td>{{application.created_at|timesince}}</td>
					<td><a href="#" >Download CV</a></td>

					
					
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>
{% endblock %}




