 {% extends "employertemplates/employerbase.html" %}

{% block content %}
<div class="row">
	<div class="col-md-8 mx-auto">
		<h3>JobCreate</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-primary">ADD</button>
		</form>
		
	</div>
</div>


{% endblock %}












