 {% extends "employertemplates/employerbase.html" %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Employer Detail</h3>
		<table class="table table-striped">
			<tr>
				<th>User Name</th>
				<td>{{user.username}}</td>
			</tr>
			<tr>
				<th>Full Name</th>
				<td>{{empdetail.full_name}}</td>
			</tr>
			<tr>
				<th>Company Name</th>
				<td>{{empdetail.company_name}}</td>
			</tr>
			<tr>
				<th>Company Logo</th>
				<td><img src="{{empdetail.company_logo.url}}" width="100">
				</td>
			</tr>
			<tr>
				<th>Company Photo</th>
				<td><img src="{{empdetail.company_photo.url}}" width="150">
				</td>
				
			</tr>
			<tr>
				<th>Address</th>
				<td>{{empdetail.address}}</td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td>{{empdetail.mobile}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{empdetail.email}}</td>
			</tr>
			<tr>
				<th>Website</th>
				<td>{{empdetail.website}}</td>
			</tr>
			<tr>
				<th>Location</th>
				<td>{{empdetail.location}}</td>
			</tr>
			<tr>
				<th>About</th>
				<td>{{empdetail.about}}</td>
			</tr>
			
		</table>
	</div>
</div>





{% endblock %}












