 {% extends "employertemplates/employerbase.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3>CategoryCreate</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button>ADD</button>
		</form>
		
	</div>
</div>


{% endblock %}
