{% extends "employertemplates/employerbase.html" %}

{% load static %}

{% block content %}


<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Details of {{empjobseekerdetail.full_name}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Full Name</th>
				<td>{{empjobseekerdetail.full_name}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{empjobseekerdetail.address}}</td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td>{{empjobseekerdetail.mobile}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{empjobseekerdetail.email}}</td>
			</tr>
			<tr>
				<th>Skill</th>
				<td>{{empjobseekerdetail.skill}}</td>
			</tr>
			<tr>
				<th>DOB</th>
				<td>{{empjobseekerdetail.dob}}</td>
			</tr>
			<tr>
				<th>Education</th>
				<td>{{empjobseekerdetail.education}}</td>
			</tr>
			<tr>
				<img src="{{empjobseekerdetail.image.url}}" class="img-fluid" width="100">
			</tr>
		</table>
	</div>
</div>

{% endblock %}
