{% extends "employertemplates/employerbase.html" %}
{% load static %}


{% block content %}


            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Category lists</h2>
            <!--// main-heading -->


            <!-- Cards content -->
            <section class="cards-section">
                <div class="card-columns">
                	{% for notice in employercategorylist %}		
                    <div class="card">
                    	<a href="{% url 'quickapp:employercategorydetail' notice.id %}"><img class="card-img-top" src="{{notice.image.url}}" alt="Card image cap"></a>
                        
                        <div class="card-body">
                        	<a href="{% url 'quickapp:employercategorydetail' notice.id %}"><h5 class="card-title">{{notice.title}}</h5></a>
                            
                            
                            <a href="#" class="btn more mt-3" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}">View</a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1	" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        	<a href="{% url 'quickapp:employercategorydetail' notice.id %}"><h5 class="modal-title" id="exampleModalLabel1">{{notice.title}}</h5></a>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        	<a href="{% url 'quickapp:employercategorydetail' notice.id %}"><img class="card-img-top" src="{{notice.image.url}}" alt="Card image cap"></a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Modal -->
                        </div>
                    </div>
                    {% endfor %}
                    		
                </div>
            </section>






{% endblock %}

