{% extends "employertemplates/employerbase.html" %}


{% block content %}
<!-- <p>You are searching the data</p> -->
<!-- <h3>Search Results for {{request.GET.keyword}}</h3> -->
<h3>Search Results for <span class="text-info">{{request.GET.keyword}}</span></h3>


{% for job in search_results %}
      <li><a href="{% url 'quickapp:employerjobdetail' job.id %}">{{job.title}}</a></li>
      <img src="{{job.image.url}}" class="img-fluid" width="200">
      <li><a href="{% url 'quickapp:employerjobdetail' job.id %}"><span style="color:#000"	>{{job.description|truncatewords:"20"}}</span></a></li><br><br>

     

          {% empty %}
          <h4>No result found...</h4>
          <!-- search item payena vane yo message pass hunxa -->
{% endfor %}


{% endblock %}
