{% extends "employertemplates/employerbase.html" %}
{% load static %}
{% block home %}active{% endblock %}

{% block content %}


<div class="row">
	
<div class="col"><h5><b> This is Employer Dashboard </b></h5></div>
<div class="col"><a href="{% url 'quickapp:employerjobcreate' %}"><button>Create JOB</button></a></div>


</div>






  <!-- Tables content -->
            <section class="tables-section">
                <!-- table1 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4"><u>Our Job lists</u></h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">S.N.</th>
                                <th scope="col">Job</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">salary</th>
                                <th scope="col">Action</th>
			
                            </tr>
                        </thead>
                        <tbody>
		{% for notice in empjl %}
		<tr>
			<td>{{forloop.counter}}</td>
					    

		    <td><a href="{% url 'quickapp:employerjobdetail' notice.id %}">{{notice.title}}</a></td>

		    <td>{{notice.deadline}}</td>

		    <td>{{notice.salary}}</td>
			
			<td><a href="{% url 'quickapp:employerjobupdate' notice.id %}"><button>Update</button></a><br><br><a href="{% url 'quickapp:employerjobdelete' notice.id %}"><button>Delete</button></a></td>
			

		</tr>
		{% endfor %}

	</tbody>
                    </table>
                </div>
                <!--// table1 -->

                

            </section>

            <!--// Tables content -->





{% endblock %}




