{% extends "employertemplates/employerbase.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<h3 colour="red">Are you sure?????</h3>
	<button>Yes</button>
	<button><a href="/employer/dashboard/">NO</a></button>
	
</form>
{% endblock %}


