{% extends "employertemplates/employerbase.html" %}
{% load static %}


{% block content %}







            <div class="container-fluid">
                <div class="row">
                    <!-- Stats -->
                    <div class="outer-w3-agile col-xl">
                        <div class="stat-grid p-3 d-flex align-items-center justify-content-between bg-primary">
                            <div class="s-l">
                             <a href="{% url 'quickapp:employerhomejoblist' %}"><h5>Posted jobs</h5></a>

                            </div>
                            <div class="s-r">
                                <h6>340
                                    <i class="far fa-edit"></i>
                                </h6>
                            </div>
                        </div>

                        


                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between bg-warning">
                            <div class="s-l">
                            <a href="{% url 'quickapp:employercategorylist' %}"><h5>Categories</h5></a>

                            </div>
                            <div class="s-r">
                                <h6>190
                                    <i class="fas fa-users"></i>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!--// Stats -->


              </div>
            






{% endblock %}

