{% extends "employertemplates/employerbase.html" %}
{% load static %}
{% block home %}active{% endblock %}

{% block content %}



<h2><u>List of category</u></h2>
<table class="table">
	<thead>
		<tr>
			<th>S.N.</th>
			<th>title</th>
			<th>image</th>
			
			
		</tr>
	</thead>
	<tbody>
		{% for notice in ccl %}
		<tr>
			<td>{{forloop.counter}}</td>
					    

		    <td>{{notice.title}}</td>
		    <td><img src="{{notice.image.url}}" class="fluid" width="50"></td>
		   
		    
			

		</tr>
		{% endfor %}

	</tbody>


</table>


{% endblock %}




