{% extends "employertemplates/employerbase.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<h1 colour="red">Are you sure?????</h1>
	<button>Yes</button>
	<button><a href="/employer/category/">NO</a></button>
	
</form>
{% endblock %}


