{% extends "employertemplates/employerbase.html" %}
{% block categorydetail %}active{% endblock %}

{% block content %}

<h3>Detail about {{categorydetail.title}} job</h3>
<div class="row">
	<div class="col-md-6">
		<table class="table">
			
			<tr>
				<th>Title</th>
				<td><h4></h4>{{categorydetail.title}}</h4></td>
			</tr>
		
			
			<tr>
				<th>Image</th>
				<td><image src="{{categorydetail.image.url}}" class="img-fluid"></td>

			
		</table>

	</div>
</div>

 
{% endblock %}


