 {% extends "employertemplates/employerbase.html" %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Employer Detail</h3>
		<table class="table table-striped">
			<tr>
				<th>Full Name</th>
				<td>{{empdeil.full_name}}</td>
			</tr>
			<tr>
				<th>Company Name</th>
				<td>{{empdeil.company_name}}</td>
			</tr>
			<tr>
				<th>Company Logo</th>
				<td>{{empdeil.company_logo}}</td>
			</tr>
			<tr>
				<th>Company Photo</th>
				<td>{{empdeil.company_photo}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{empdeil.address}}</td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td>{{empdeil.mobile}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{empdeil.email}}</td>
			</tr>
			<tr>
				<th>Website</th>
				<td>{{empdeil.website}}</td>
			</tr>
			<tr>
				<th>Location</th>
				<td>{{empdeil.location}}</td>
			</tr>
			<tr>
				<th>About</th>
				<td>{{empdeil.about}}</td>
			</tr>
			<tr>
				<img src="{{empdeil.image.url}}" class="img-fluid">
			</tr>
		</table>
	</div>
</div>





{% endblock %}












