{% extends 'clienttemplates/clientbase.html' %}
{% block category %}active {% endblock %}

{% block content %}
	<div class="inner_page_agile">
		<h3>Jobs</h3>
		<p>Add Some Short Description</p>
	</div>
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">
			<ul class="short_w3ls"_w3ls>
				<li><a href="/">Home</a><span>|</span></li>
				<li>Jobs</li>
			</ul>
		</div>
	</div>
<!-- top joblist-->
		<div class="inner_content_info_agileits">
		<div class="container">
			<div class="inner_sec_grids_info_w3ls">
						<div class="col-md-8 job_info_left">
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">	<h3>Jobs under {{ categoryobject.title }} category</h3></a></li>							
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								{% for job in categoryobject.job_set.all %}
									{% cycle '<div class="tab_grid">' '' %}
											<div class="col-sm-2 loc_1">
												<a href="{% url 'quickapp:jobdetail' job.id %}"><img src="{{job.employer.company_logo.url}}" alt=""></a>
											</div>
											<div class="col-sm-4">
												<div class="location_box1">
													<p><span class="m_2"><a href="{% url 'quickapp:jobdetail' job.id %}">{{job.title}} </a></span><br>
														<a href="{% url 'quickapp:jobdetail' job.id %}">{{job.employer.company_name}}</a>
														</p>
													</div>
											</div>										
											{% if forloop.counter|divisibleby:2 %}		
											<div class="clearfix"> </div>
									</div>	{% endif %}									
								{% endfor %}
									{% resetcycle %}			
								</div>			
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 job_info_right">
				<div class="widget_search">
					<h5 class="widget-title">Search</h5>
					<div class="widget-content">
						<form action="/results/" method="GET">
							<input type="text" class="form-control jb_2" placeholder="Enter Keyword(s)" name="searchkey" value="{{request.GET.searchkey}}" >
							<input type="submit" value="Search">
						</form>
					</div>
				</div>
				<div class="col_3 permit">
					<h3>Jobs by Category</h3>
					<ul class="list_2">
						{% for category in categorylist %}
						{% for jobs in category.job_set.all %}
							<li><a href="{% url 'quickapp:clientcategorydetail' category.id %}">
							{% if forloop.last %}
							{{category.title}} 
							({{forloop.counter}})
							{% endif %}
							</a>
							</li>
						{% endfor %}
						
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--//top joblist -->
{% endblock %}