{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
<!-- banner -->
	<div class="inner_page_agile">
		<h3>Professionals</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="{% url 'quickapp:clienthome' %}">Home</a><span>|</span></li>
				<li>Professionals</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Candidates </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<a href="single.html"><img src="{% static 'clientstatic/images/pf1.jpg' %}" alt=""></a>
						</div>
						<div class="col-sm-9">
							<div class="location_box1">
								<h6>Francisco Da Silva</h6>
								<span class="m_2_prof">Web Developer at Highest Dreams Inc</span>
								<div class="person-info">
									<ul>

										<li><span>Emp.Status</span>: Employed</li>
										<li><span>Gender</span>: Male</li>
										<li><span>Location</span>: Jackson, 538, USA</li>
										<li><span>Experience</span>: 7 Years</li>
										<li><span>Nationality</span>: Portuguse</li>
									</ul>
								</div>
								<div class="read"><a href="single.html" class="read-more"> More Info</a></div>
								<ul class="top-btns">
									<li><a href="#" class="fa fa-plus toggle"></a></li>
									<li><a href="#" class="fa fa-star"></a></li>
									<li><a href="#" class="fa fa-link"></a></li>
								</ul>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<a href="single.html"><img src="{% static 'clientstatic/images/pf2.jpg' %}" alt=""></a>
						</div>
						<div class="col-sm-9">
							<div class="location_box1">
								<h6>Francisco Da Silva</h6>
								<span class="m_2_prof">Web Developer at Highest Dreams Inc</span>
								<div class="person-info">
									<ul>

										<li><span>Emp.Status</span>: Employed</li>
										<li><span>Gender</span>: Female</li>
										<li><span>Location</span>: Jackson, 538, USA</li>
										<li><span>Experience</span>: 7 Years</li>
										<li><span>Nationality</span>: Portuguse</li>
									</ul>
								</div>
								<div class="read"><a href="single.html" class="read-more"> More Info</a></div>
								<ul class="top-btns">
									<li><a href="#" class="fa fa-plus toggle"></a></li>
									<li><a href="#" class="fa fa-star"></a></li>
									<li><a href="#" class="fa fa-link"></a></li>
								</ul>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<a href="single.html"><img src="{% static 'clientstatic/images/pf3.jpg' %}" alt=""></a>
						</div>
						<div class="col-sm-9">
							<div class="location_box1">
								<h6>Francisco Da Silva</h6>
								<span class="m_2_prof">Web Developer at Highest Dreams Inc</span>
								<div class="person-info">
									<ul>

										<li><span>Emp.Status</span>: Employed</li>
										<li><span>Gender</span>: Male</li>
										<li><span>Location</span>: Jackson, 538, USA</li>
										<li><span>Experience</span>: 7 Years</li>
										<li><span>Nationality</span>: Portuguse</li>
									</ul>
								</div>
								<div class="read"><a href="single.html" class="read-more"> More Info</a></div>
								<ul class="top-btns">
									<li><a href="#" class="fa fa-plus toggle"></a></li>
									<li><a href="#" class="fa fa-star"></a></li>
									<li><a href="#" class="fa fa-link"></a></li>
								</ul>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<a href="single.html"><img src="{% static 'clientstatic/images/pf4.jpg' %}" alt=""></a>
						</div>
						<div class="col-sm-9">
							<div class="location_box1">
								<h6>Francisco Da Silva</h6>
								<span class="m_2_prof">Web Developer at Highest Dreams Inc</span>
								<div class="person-info">
									<ul>

										<li><span>Emp.Status</span>: Employed</li>
										<li><span>Gender</span>: Female</li>
										<li><span>Location</span>: Jackson, 538, USA</li>
										<li><span>Experience</span>: 7 Years</li>
										<li><span>Nationality</span>: Portuguse</li>
									</ul>
								</div>
								<div class="read"><a href="single.html" class="read-more"> More Info</a></div>
								<ul class="top-btns">
									<li><a href="#" class="fa fa-plus toggle"></a></li>
									<li><a href="#" class="fa fa-star"></a></li>
									<li><a href="#" class="fa fa-link"></a></li>
								</ul>

							</div>
						</div>
						<div class="clearfix"> </div>

					</div>
					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<a href="single.html"><img src="{% static 'clientstatic/images/pf2.jpg' %}" alt=""></a>
						</div>
						<div class="col-sm-9">
							<div class="location_box1">
								<h6>Francisco Da Silva</h6>
								<span class="m_2_prof">Web Developer at Highest Dreams Inc</span>
								<div class="person-info">
									<ul>

										<li><span>Emp.Status</span>: Employed</li>
										<li><span>Gender</span>: Female</li>
										<li><span>Location</span>: Jackson, 538, USA</li>
										<li><span>Experience</span>: 7 Years</li>
										<li><span>Nationality</span>: Portuguse</li>
									</ul>
								</div>
								<div class="read"><a href="single.html" class="read-more"> More Info</a></div>
								<ul class="top-btns">
									<li><a href="#" class="fa fa-plus toggle"></a></li>
									<li><a href="#" class="fa fa-star"></a></li>
									<li><a href="#" class="fa fa-link"></a></li>
								</ul>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<ul class="pagination paging w3-agileits-paging">
						<li>
							<a href="#" aria-label="Previous">
						<span aria-hidden="true">«</span>
					  </a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
						<span aria-hidden="true">»</span>
					  </a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 job_info_right">

					<div class="widget_search">
						<h5 class="widget-title">Search</h5>
						<div class="widget-content">
							<span>I'm looking for a ...</span>
							<select class="form-control jb_1">
					<option value="0">Job</option>
					<option value="">Category</option>
					<option value="">Category</option>
					<option value="">Category</option>
					<option value="">Category</option>
				</select>
							<span>in</span>
							<input type="text" class="form-control jb_2" placeholder="Location">
							<input type="text" class="form-control jb_2" placeholder="Industry / Role">
							<input type="submit" value="Search">
						</div>
					</div>
					<div class="col_3 permit">
						<h3>Jobs by Category</h3>
						<ul class="list_2">
							<li><a href="#">Railway Recruitment</a></li>
							<li><a href="#">Air Force Jobs</a></li>
							<li><a href="#">Police Jobs</a></li>
							<li><a href="#">Intelligence Bureau Jobs</a></li>
							<li><a href="#">Army Jobs</a></li>
							<li><a href="#">Navy Jobs</a></li>
							<li><a href="#">BSNL Jobs</a></li>
							<li><a href="#">Software Jobs</a></li>
							<li><a href="#">Research Jobs</a></li>
						</ul>
					</div>
					<div class="col_3 experience">
						<h3>Work Experiance</h3>
						<table class="table">
							<tbody>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Senior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Middle
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Junior
									</td>
									<td>
										(56)
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col_3 permit">
						<h3>Work Permit</h3>
						<table class="table">
							<tbody>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Full time
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										<input type="checkbox" class="checkbox">
									</td>
									<td class="hidden-xs">
										Part time
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //inner_content -->

{% endblock %}