{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}
<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Job Details</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="single-left1">
						<img src="{{jobD.employer.company_photo.url}}" alt=" " class="img-responsive" />
						
						
						<!-- company detail	-->		
						<div class="comments-grid" style="background: cyan;padding:15px;margin-top: 0">
							<div class="comments-grid-left" style="padding-top:15px;margin-right: 15px;">
								<img src="{{jobD.employer.company_logo.url}}" alt=" " class="img-responsive">
							</div><h3>{{jobD.employer.company_name}}</h3>
									<div class="comments-grid-right" style="width: 100%">
									<p>{{jobD.employer.about|truncatechars:300}}</p>
										<h5><a href="#">View Company Details</a></h5>
								</div>
								<div class="clearfix"> </div>
							</div>
						<div class="col_3 experience">
						<h3 style="margin:0">{{jobD.title}}</h3><hr>

						<h4 style="margin:5px">Job detail Information</h4>
						<table class="table">
							<tbody>
								<tr class="unread checked">
									<td class="hidden-xs">
										Job Category :
									</td>
									<td>
										{{jobD.category}}
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										No of Vacancie(s) :
									</td>
									<td>
										{{jobD.no_of_post}}
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										Job Level :
									</td>
									<td>
										{{jobD.level}}
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										Required Experience :
									</td>
									<td>
										{{jobD.experience}}
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										Offered Salary :
									</td>
									<td>
										{{jobD.salary}}
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										Totol View :
									</td>
									<td>
										{{jobD.view_count}}
									</td>
								</tr>
								<tr class="unread checked">
									<td class="hidden-xs">
										Apply Before(Deadline) :
									</td>
									<td>
										{{jobD.deadline}}
									</td>
								</tr>
							</tbody>
						</table><hr>
						<h4>Job Description</h4><hr>
						<p>{{jobD.description|safe}}</p>
						<div class="grid_3 grid_5 w3">
							<a href="{% url 'quickapp:jobseekerjobapply' jobD.id %}"><span class="label label-success" style="font-size: 23px;padding: 5px 15px;"> Apply Now</span></a>
						</div>
					</div>
					</div>
				</div>
				<div class="col-md-4 job_info_right">
				<div class="widget_search">
					<h5 class="widget-title">Search</h5>
					<div class="widget-content">
						<form action="/results/" method="GET">
							<input type="text" class="form-control jb_2" placeholder="Enter Keyword(s)" name="searchkey" value="{{request.GET.searchkey}}" >
							<input type="submit" value="Search">
						</form>
					</div>
				</div>
				<div class="col_3 permit">
					<h3>Jobs by Category</h3>
					<ul class="list_2">
						{% for category in categorylist %}
						{% for jobs in category.job_set.all %}
							<li><a href="{% url 'quickapp:clientcategorydetail' category.id %}">
							{% if forloop.last %}
							{{category.title}} 
							({{forloop.counter}})
							{% endif %}
							</a>
							</li>
						{% endfor %}
						
						{% endfor %}
					</ul>
				</div>			
			<div class="clearfix"></div>
				<div class="col_3 experience">
					<h3>New Jobs</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
								{% for pjob in pjobs %}
									<div class="col-sm-4 loc_1">
												<a href="{% url 'quickapp:jobdetail' pjob.id %}"><img src="{{pjob.employer.company_logo.url}}" alt=""></a>
											</div>
											<div class="col-sm-8">
												<div class="location_box1">
													<p><span class="m_2"><a href="{% url 'quickapp:jobdetail' pjob.id %}">{{pjob.title}} </a></span><br>
														<a href="{% url 'quickapp:jobdetail' pjob.id %}">{{pjob.employer.company_name}}</a>
														</p>
													</div>
											</div>								<div class="clearfix"> </div>
								{% endfor %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}

