{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}




	<!--/search_form -->
	<div id="search_form" class="search_top">
		<form action="/results/" method="GET">
			<input type="text" name="searchkey" value="{{request.GET.searchkey}}" placeholder="Enter Keyword(s)" required="">
			<input type="submit" value="Find Jobs">
			<div class="clearfix"></div>
		</form>
	</div>
	<!--//search_form -->
	<!-- top joblist-->
		<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Available Jobs </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
						<div class="col-md-8 job_info_left">
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Top jobs</a></li>							
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								{% for job in joblists %}
									{% cycle '<div class="tab_grid">' '' %}
											<div class="col-sm-2 loc_1">
												<a href="{% url 'quickapp:jobdetail' job.id %}"><img src="{{job.employer.company_logo.url}}" alt=""></a>
											</div>
											<div class="col-sm-4">
												<div class="location_box1">
													<p><span class="m_2"><a href="{% url 'quickapp:jobdetail' job.id %}">{{job.title}} </a></span><br>
														<a href="{% url 'quickapp:jobdetail' job.id %}">{{job.employer.company_name}}</a>
														</p>
													</div>
											</div>										
											{% if forloop.counter|divisibleby:2 %}		
											<div class="clearfix"> </div>
									</div>	{% endif %}									
								{% endfor %}
									{% resetcycle %}			
								</div>			
							</div>
						</div>
					</div>
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Hot jobs</a></li>							
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
										{% for job in joblists %}
									{% cycle '<div class="tab_grid">' '' %}
											<div class="col-sm-2 loc_1">
												<a href="{% url 'quickapp:jobdetail' job.id %}"><img src="{{job.employer.company_logo.url}}" alt=""></a>
											</div>
											<div class="col-sm-4">
												<div class="location_box1">
													<p><span class="m_2"><a href="{% url 'quickapp:jobdetail' job.id %}"> {{job.title}}</a></span><br>
														<a href="{% url 'quickapp:jobdetail' job.id %}">{{job.employer.company_name}}</a>
														</p>
													</div>
											</div>										
											{% if forloop.counter|divisibleby:2 %}		
											<div class="clearfix"> </div>
									</div>	{% endif %}									
								{% endfor %}
									{% resetcycle %}
								</div>
			
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 job_info_right">
				<div class="col_3 permit">
					<h3>Jobs by Category</h3>
					<ul class="list_2">
						{% for category in categorylist %}
						{% for jobs in category.job_set.all %}
							<li><a href="{% url 'quickapp:clientcategorydetail' category.id %}">
							{% if forloop.last %}
							{{category.title}} 
							({{forloop.counter}})
							{% endif %}
							</a>
							</li>
						{% endfor %}
						
						{% endfor %}
					</ul>
				</div>
				<div class="col_3 experience">
					<h3>New Jobs</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
								{% for pjob in pjobs %}
									<div class="col-sm-4 loc_1">
												<a href="{% url 'quickapp:jobdetail' pjob.id %}"><img src="{{pjob.employer.company_logo.url}}" alt=""></a>
											</div>
											<div class="col-sm-8">
												<div class="location_box1">
													<p><span class="m_2"><a href="{% url 'quickapp:jobdetail' pjob.id %}">{{pjob.title}} </a></span><br>
														<a href="{% url 'quickapp:jobdetail' pjob.id %}">{{pjob.employer.company_name}}</a>
														</p>
													</div>
											</div>								<div class="clearfix"> </div>
								{% endfor %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--//top joblist -->
	<div class="banner-bottom">
		<!-- /inner_content -->
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Feature Jobs</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				{% for featured in featuredjobs %}
				<div class="col-md-4 blog-grid one">
					<a href="{% url 'quickapp:jobdetail' featured.id %}">
						<img src="{{featured.image.url}}" alt=""></a>
					<div class="events_info">
						<h5>{{featured.deadline}}</h5>
						<h4><a href="{% url 'quickapp:jobdetail' featured.id %}">{{featured.title}}</a></h4>
						<p>{{featured.description|truncatechars:90}}</p>

					</div>
				</div>
				{% endfor %}
		 		<div class="clearfix"></div>
			</div>
	</div>
	<!-- //mid-services -->
	</div>
	<!-- //banner-bottom -->
	<div class="testimonials_section">
		<div class="container">
			<div class="inner_sec_grids_info_w3ls">
				<div id="Carousel" class="carousel slide two">

				<!-- Carousel items -->
					<div class="carousel-inner">
						<!--.item-->
						<div class="item">
							<div class="testimonials_grid_wthree">
								<img src="{% static 'clientstatic/images/test2.jpg' %}" alt=" " class="img-responsive" />
								<h4><i class="fa fa-quote-left" aria-hidden="true"></i> Nam libero tempore, cum soluta nobis est eligendi optio cumque
									nihil impedit quo minus id quod maxime placeat facere possimus,Morbi viverra congue nisi vel pulvinar posuere sapien
									eros. omnis voluptas.</h4>
								<h5>Jessica Doe</h5>

							</div>
						</div>
						<!--.item-->

						<div class="item">
							<div class="testimonials_grid_wthree">
								<img src="{% static 'clientstatic/images/test3.jpg' %}" alt=" " class="img-responsive" />
								<h4><i class="fa fa-quote-left" aria-hidden="true"></i> Nam libero tempore, cum soluta nobis est eligendi optio cumque
									nihil impedit quo minus id quod maxime placeat facere possimus,Morbi viverra congue nisi vel pulvinar posuere sapien
									eros. omnis voluptas.</h4>
								<h5>Michael Doe</h5>

							</div>
						</div>
						<!--.item-->

					</div>
					<!--.carousel-inner-->

				</div>
				<!--.Carousel-->

			</div>
		</div>
	</div>
           



{% endblock %}

