{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Login</h3>

	</div>
	<!--//banner -->
		<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls">
				<li><a href="/">Home</a><span>|</span></li>
				<li>Login</li>	
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">LogIn to your Account </h3>
				{% if error %}
				<li>{{error}}</li>
				{% endif %}
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form method="POST">
							{% csrf_token %}
							<input type="text" name="username" placeholder="User Name" required="">
							<input type="password" name="password" placeholder="Password" required="">
							<div class="tp">
								<input type="submit" value="Login">
							</div>
						</form>
					</div>
					<div class="login-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
					<p><a href="register.html"> Don't have an account?</a></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}