{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Jobs</h3>
		<p>Find jobs quickly</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/">Home</a><span>|</span></li>
				<li>Jobs</li>
			</ul>
		</div>
	</div>
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Available Jobs </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Search Results</a></li>
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<h3>Search results for <span class="text-info">{{request.GET.searchkey}}</span></h3><hr>
									{% for job in searched_jobs %}
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="{% url 'quickapp:jobdetail' job.id %}"><img src="{{job.employer.company_logo.url}}" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="{% url 'quickapp:jobdetail' job.id %}">{{job.title}} </a><span class="m_1">Deadline : {{job.deadline}}</span></h6>
												<p><span class="m_2"> </span>{{job.description|truncatechars:190}}</p>
						<ul class="links_bottom">
							<li><a href="{% url 'quickapp:jobdetail' job.id %}"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
							
						</ul>
						
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									{% empty %}
										<h4>No results found...</h4>
									{% endfor %}
								</div>
								<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">IT Recruiter </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">who are so </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">Icorrupti quos </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc4.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">therefore always </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">you need to be </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#">praising pain </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid last">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#"> blame belongs  </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 job_info_right">
				<div class="widget_search">
					<h5 class="widget-title">Search</h5>
					<div class="widget-content">
						<form action="/results/" method="GET">
							<input type="text" class="form-control jb_2" placeholder="Enter Keyword(s)" name="searchkey" value="{{request.GET.searchkey}}" >
							<input type="submit" value="Search">
						</form>
					</div>
				</div>
				<div class="col_3 permit">
					<h3>Jobs by Category</h3>
					<ul class="list_2">
						{% for category in categorylist %}
						{% for jobs in category.job_set.all %}
							<li><a href="{% url 'quickapp:clientcategorydetail' category.id %}">
							{% if forloop.last %}
							{{category.title}} 
							({{forloop.counter}})
							{% endif %}
							</a>
							</li>
						{% endfor %}
						
						{% endfor %}
					</ul>
				</div>			
			<div class="clearfix"></div>
				<div class="col_3 experience">
					<h3>New Jobs</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
								{% for pjob in pjobs %}
									<div class="col-sm-4 loc_1">
												<a href="{% url 'quickapp:jobdetail' pjob.id %}"><img src="{{pjob.employer.company_logo.url}}" alt=""></a>
											</div>
											<div class="col-sm-8">
												<div class="location_box1">
													<p><span class="m_2"><a href="{% url 'quickapp:jobdetail' pjob.id %}">{{pjob.title}} </a></span><br>
														<a href="{% url 'quickapp:jobdetail' pjob.id %}">{{pjob.employer.company_name}}</a>
														</p>
													</div>
											</div>								<div class="clearfix"> </div>
								{% endfor %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- //inner_content -->
{% endblock %}

