{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}
		<!-- banner -->
	<div class="inner_page_agile">
		<h3>Register</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Employer Register</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">Register Now </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
<!-- 							{{form.as_p}}
 -->						{{form.username}}
 							<span id="id_message"></span>
							{{form.password}}
							{{form.confirm_password}}
							<span id="password_massege"></span>
							{{form.full_name}}
							{{form.company_name}}
							{{form.phone}}
							{{form.mobile}}
							{{form.email}}
							{{form.website}}
							{{form.address}}
							{{form.about}}
							{{form.estb_date}}
							{{form.location}}
							<input type="submit" value="Register" id="save_button">
						</form>
					</div>
					<p class="reg"><a href="#"> By clicking register, I agree to your terms</a></p>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

  {% block js %}
<script type="text/javascript">
	$('#id_password, #id_confirm_password').on('keyup', function () {
		if ($('#id_password').val() == ""){
			 $('#password_massege').html('');
		}
		else if($('#id_confirm_password').val( ) == ""){

			$('#password_massege').html('');
		}else{
	  if ($('#id_password').val() == $('#id_confirm_password').val()) {
	    $('#password_massege').html(' Password Matching').css('color', 'green');
	  } else 
	    $('#password_massege').html(' Password Not Matching').css('color', 'red');
	   }


	});
</script>
<script type="text/javascript">
	$("#id_username").on('keyup',function(){
		var uname = $(this).val().trim();
		if($("#id_username").val() ==""){
			$('#id_message').text("");
		}
		else{
		$.ajax({
			method:'get',
			url : '/username-checker/',
			data:{
				username:uname
			},
			success: function(data){
				$('#id_message').text(data.message).css('color',data.color);
				if(data.color=='red'){
					$('#save_button').attr('disabled',true)
				}
				else
				{
					$('#save_button').attr('disabled',false)
				}
			}
		})
	}
	})

</script>
{% endblock %}