{% load static %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Quickjob: Home | Job portal</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static 'clientstatic/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

	<link href="{% static 'clientstatic/css/font-awesome.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div style="display: block;min-height: 80px">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="{% url 'quickapp:clienthome' %}">
							<h1><span class="fa fa-signal" aria-hidden="true"></span> Quick Jobs <label>Site</label></h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{% url 'quickapp:clienthome' %}" class="effect-3">Home</a></li>
								{% if not request.user.is_authenticated %}
								<li class="dropdown">
									<a href="services.html" class="dropdown-toggle effect-3" data-toggle="dropdown">Register <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'quickapp:jobseekerregister' %}">As a Jobseeker</a></li>
										<li class="divider"></li>
										<li><a href="{% url 'quickapp:employerregister' %}">As a Employer</a></li>
										<li class="divider"></li>						
									</ul>
								</li>
								{% endif %}
	
								<!-- <li><a href="{% url 'quickapp:clientevent' %}" class="effect-3">Events</a></li> -->

								<!-- <li><a href="{% url 'quickapp:clientprofession' %}" class="effect-3">Professionals</a></li> -->
								<li><a href="{% url 'quickapp:contactlist' %}" class="effect-3">Contact</a></li>
								<li><a href="{% url 'quickapp:aboutlist' %}" class="effect-3">About</a></li>
								 {% if request.user.is_authenticated %}
								 	<li class="dropdown">
									<a href="jobs.html" class="dropdown-toggle effect-3" data-toggle="dropdown"><i class="fa fa-user"></i> {{request.user.username}}<b class="caret"></b></a>
									<ul class="dropdown-menu multi-column col-sm-4">
										<div class="row">
											<div class="col-sm-12">
												<ul class="multi-column-dropdown">
													<li><a href="{% url 'quickapp:profiledetail' %}">Profile</a></li>
													<li><a  class=""  href="{% url 'quickapp:jobseekerjoblist' %}"><i></i> Applied jobs</a>
													</li>
													<li><a  class=""  href="{% url 'quickapp:logout' %}"><i class="fa fa-power-off"></i> Logout</a>
													</li>

												</ul>
											</div>
										</div>
									</ul>
								</li>

								  {% else %}
								<li><a href="{% url 'quickapp:login' %}" class="effect-3">Login</a></li>
								{% endif %}



							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	</div>

	{% block content %}

	{% endblock %}


	<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">

<div class="row"></div>
			<div class="col-md-3 footer_grid">
				<h3>For Employer</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="/employerregister/" >register</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="/login/" >login</a>
					</li>
			
				</ul>
			</div>
					<div class="col-md-3 footer_grid">
				<h3>For Job Seeker</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="/jobseekerregister/" >register</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="/login/" >login</a>
					</li>
			
				</ul>
			</div>		<div class="col-md-3 footer_grid">
				<h3>About Us</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="{% url 'quickapp:aboutlist' %}" >about quickjob</a>
					</li>
					<li><i class="fa fa-facebook" aria-hidden="true"></i>
						<a href="/about/" >Facebook</a>
					</li><li><i class="fa fa-twitter" aria-hidden="true"></i>
						<a href="/about/" >Twitter</a>
					</li>
			
				</ul>
			</div>		<div class="col-md-3 footer_grid">
				<h3>Contact Us</h3>
				<ul class="footer_grid_list">
						<p class="fa-fa-">Cosmos College Of Management & Technology </p>
					</li>
			
				</ul>
			</div>
		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">
			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a href="index.html">
							<h2><span class="fa fa-signal" aria-hidden="true"></span> Quick <label>Jobs</label></h2>
						</a>
						<p>© 2019 Quick Job. All rights reserved | Design by <a href="#">Quick Jobs</a></p>
					</div>
				</div>
				<div class="col-md-3 footer_bottom_grid">
					<h6>Follow Us</h6>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="{% static 'clientstatic/js/jquery-2.1.4.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'clientstatic/js/bootstrap.js' %}"></script>

		<script type="text/javascript" src="{% static 'clientstatic/js/jquery.min.js' %}"></script>  <!--jquery in  sscript tag-->
	<script type="text/javascript" src="{% static 'clientstatic/js/bootstrap.min.js' %}"></script>  <!--jquery in  sscript tag-->
{% block js %}

{% endblock %}
</body>

</html>