{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
		<!-- banner -->
	<div class="inner_page_agile">
		<h3>Apply now</h3>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/">Home</a><span>|</span></li>
				<li>Job Application Form</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">Apply Now </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form.as_p}}
							<br><br> 
<!-- 							{{form.username}}
							{{form.password}}
							{{form.confirm_password}}
							{{form.full_name}}
							{{form.company_name}}
							{{form.phone}}
							{{form.mobile}}
							{{form.email}}
							{{form.website}}
							{{form.address}}
							{{form.about}}
							{{form.estd_date}}
							{{form.location}} -->
							<input type="submit" value="confirm">
						</form>
					</div>
					<p class="reg"><a href="#"> By clicking Apply, I agree to your terms</a></p>

				</div>
			</div>
		</div>
	</div>


{% endblock %}