{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
		<!-- banner -->
	<div class="inner_page_agile">
		<h3>Apply now</h3>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/">Home</a><span>|</span></li>
				<li>Success Message</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">You have successfully applied.<br> Please wait for our call</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
					<a href="/"><input type="submit" value="Okay"></a>

					</div>
				</div>
			</div>
		</div>


{% endblock %}