{% extends 'clienttemplates/clientbase.html' %}
{% block content %}
<!-- banner -->
	<div class="inner_page_agile">
		<h3>Professionals</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/">Home</a><span>|</span></li>
				<li>Profile Update</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
<div class="row">
	<div class="col-md-8 mx-auto">
		<div class="inner_sec_grids_info_w3ls">
			<div class="signin-form">

				<div class="login-form-rec">
					<form method="POST" enctype="multipart/form-data" >
						{% csrf_token %}
						{{form.username}}
						{{form.password}}
						{{form.confirm_password}}
						<span id="password_massege"></span>
						{{form.full_name}}
						<span style="float:left;width:100%;height:45px;border:1px solid #ccc;margin-left:0px;padding-top:5px">
						Profile Picture : 
							<span style="float:right;width:60%;height:45px;margin-left:87px">
								{{form.image}}
							</span>
						</span>
						<br><br>
						{{form.email}}
						{{form.mobile}}
						{{form.address}}
						{{form.dob}}
						{{form.education}}
						{{form.skill}}
						<span style="float:left;width:100%;height:45px;border:1px solid #ccc;margin-left:0px;padding-top:5px">
						CV : 
							<span style="float:right;width:60%;height:45px;margin-left:87px">
								{{form.cv}}
							</span>
						</span>
						<input type="submit" value="Done" id="save_button">
					</form>
				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}