{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}
<!-- banner -->
	<div class="inner_page_agile">
		<h3>Professionals</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/">Home</a><span>|</span></li>
				<li>Professionals</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Candidates </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<a href="single.html"><img src="images/pf1.jpg" alt=""></a>
						</div>
						<div class="col-sm-9">
							<div class="location_box1">
							{% for jobseekerdetail in jobseekerdetails %}								
								<h6>Profile of {{jobseekerdetail}}</h6>
								<span class="m_2_prof">Web Developer at Highest Dreams Inc</span>
								<div class="person-info">
									<ul>

										<h3><b>Name: </b>{{jobseekerdetail.full_name}}</h3>
										<p>Address: {{jobseekerdetail.address}}</p>
										<p>Contact Info: {{jobseekerdetail.mobile}}</p>
										<p>Email: {{jobseekerdetail.email}}</p>
										<p>Education: {{jobseekerdetail.education}}</p>
										<p>Skill: {{jobseekerdetail.skill}}</p>
										<p>DOB: {{jobseekerdetail.dob}}</p>
										<p>CV: {{jobseekerdetail.cv}}</p>
									</ul>
								</div>
							

								<div class="read">
									<a href="{% url 'quickapp:jobseekerprofileupdate' jobseekerdetail.id %}" class="read-more"> Edit</a>
								</div>
								{% endfor %}
								<ul class="top-btns">
									<li><a href="#" class="fa fa-plus toggle"></a></li>
									<li><a href="#" class="fa fa-star"></a></li>
									<li><a href="#" class="fa fa-link"></a></li>
								</ul>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

