{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}
<h3>rupak magar</h3>
		        <section class="tables-section">
                <!-- table1 -->
                <div class="outer-w3-agile mt-3" class="row">

                    <h4 class="tittle-w3-agileits mb-4"><u>Applied Job List</u></h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">S.N.</th>
                                <th scope="col">Job</th>
                                <th scope="col">Date</th>
			
                            </tr>
                        </thead>
                        <tbody>
							{% for app in applylist %}
							<tr>
							<td>{{forloop.counter}}</td>
									    

						    <td><a href="{% url 'quickapp:jobdetail' app.job.id %}">{{app.job}}</a></td>


						    <td>{{app.created_at}}</td>
							
							
							

							</tr>
							{% endfor %}

						</tbody>
                    </table>
                </div>
                <!--// table1 -->

                

            </section>

{% endblock %}

