{% extends 'admintemplates/adminbase.html' %}

{% block content %}

	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">Update About</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form method="POST" enctype="multipart/form-data" >
							{% csrf_token %}
							{{form.as_p}}
							<input type="submit" value="Done" id="save_button">
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}