{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block content %}

<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Job Detail</h3>
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<td>{{adminjobdetail.title}}</td>
			</tr>
			<tr>
				<th>Category</th>
				<td>{{adminjobdetail.category}}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td><img src="{{adminjobdetail.image.url}}" class="img-fluid" width="200"></td>
			</tr>
			<tr>
				<th>No. of Post</th>
				<td>{{adminjobdetail.no_of_post}}</td>
			</tr>
			<tr>
				<th>Deadline</th>
				<td>{{adminjobdetail.deadline}}</td>
			</tr>
			<tr>
				<th>Level</th>
				<td>{{adminjobdetail.level}}</td>
			</tr>
			<tr>
				<th>Experience</th>
				<td>{{adminjobdetail.experience}}</td>
			</tr>
			<tr>
				<th>Salary</th>
				<td>{{adminjobdetail.salary}}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{adminjobdetail.description}}</td>
			</tr>
		</table>
	</div>
</div>



<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>

{% endblock %}