{% extends 'admintemplates/adminbase.html' %}
{% block content %}

<h3 class="text-center">Welcome To Admin Pannel</h3><br>
<h4 class="text-center">This is Home Page.</h4>
<canvas id="myChart" width="400" height="400"></canvas> 


{% endblock %}




{% block js %}
<script>
var ctx = document.getElementById('myChart'); // document.getElementById le data line kam garxa in javascript
var myChart = new Chart(ctx, ({
    type: 'bar',
    data: {
        labels: [ {% for cat in allcats %} "{{cat.title}}", {% endfor %} ],
        datasets: [{
            label: '# of Votes',
            data: [ {% for cat in allcats %} {{cat.job_set.count}}, {% endfor %} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(0, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


{% endblock %}