{% extends 'admintemplates/adminbase.html' %}
{% block createcategory %} active {% endblock %}

{% block content %}

<!--/forms-->
													<div class="forms-main">
														<h2 class="inner-tittle">Create Category </h2>
															<div class="graph-form">
																	<div class="form-body">
																		<form method="POST" enctype="multipart/form-data">
																			{% csrf_token %}
			                                                                {{form.as_p}}
																		<div class="checkbox"> <label> <input type="checkbox"> Check me out </label> </div> <button type="submit" class="btn btn-default">Submit</button> </form> 
																	</div>

															</div>



															
<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>

{% endblock %}


