{% extends 'admintemplates/adminbase.html' %}
{% block categorylist %} active {% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">Category Lists</h3>
	    <table class="table table-bordered">
	    	<head>
	    		<tr>
	    			<th>Title</th>
	    			<th>Image</th>
	    			<th>Action</th>
	    			<th>Action</th>

	    		</tr>
	    	</head>
	    	<tbody>
	    		{% for category in allcategory %}
	    		<tr>
	    			<td><a href="{% url 'quickapp:adminjobcategorydetail' category.id  %}">{{category.title}}</a></td>
                    <td><img src="{{category.image.url}}" class="img-fluid" width="100"></td>
	    			<td><a href="{% url 'quickapp:adminjobcategoryupdate' category.id %}">Update</a></td>
	    			<td><a href="{% url 'quickapp:adminjobcategorydelete' category.id %}">Delete</a></td>
	    		</tr>
	    		{% endfor %}
	    	</tbody>
	    </table>
	</div>
</div>




<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>


{% endblock %}