{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'adminstatic/css/chocolat.css' %}" type='text/css' />
  <script src="{% static 'adminstatic/js/jquery.nicescroll.js' %}"></script>
  <script src="{% static 'adminstatic/js/jquery.chocrnizr.colat.js' %}"></script>
  <script src="{% static 'adminstatic/js/modeustom.04022.js' %}"></script>
  <script src="{% static 'adminstatic/js/jquery.chocolat.js' %}"></script>

  <script type="text/javascript">
    $(function() {
      $('.gallery-bottom a').Chocolat();
    });
    </script>
    <div class="outter-wp">
                <!--sub-heard-part-->
                   <div class="sub-heard-part">
                   <ol class="breadcrumb m-b-0">
                    <li><a href="/admin/">Home</a></li>
                    <li class="active">Slideshows</li>
                  </ol>
                   </div>
                  <!--//sub-heard-part-->
                <div class="graph-visual">
                  <h5 style="float: right;padding-right: 20px;">[<a href="{% url 'quickapp:adminslideshowcreate' %}"> + Add New</a> ]     </h5>
                      <hr>
                      <h2 class="inner-tittle">Slideshows</h2>
                           <!--/gallery-->
                           <div class="gallery">
                              <div class="gallery-bottom grid">
                                {% for slideshow in slideshows %}
                                <div class="col-md-3 g-left">
                                    <a href="{{slideshow.image.url}}" rel="{{slideshow.caption}} | <a href='/admin/gallery/{{slideshow.id}}/update/'><i class='fa fa-pencil-square-o'></i> Edit </a> | <a href='/admin/gallery/{{slideshow.id}}/delete/'><i class='fa fa-trash-o'></i>  Delete </a> " class="b-link-stripe b-animate-go  thickbox">
                                      <figure class="effect-oscar">
                                        <img src="{{slideshow.image.url}}" alt=""/>
                                        <figcaption>
                                          <h4>{{slideshow.title}}</h4>
                                            <p><i class="lnr lnr-magnifier"></i></p>
                                        </figcaption>     
                                      </figure>
                                    </a>
                                  </div>
                                  {% endfor %}
                                  <div class="clearfix"> </div>
                                </div>
                              </div>
                            </div>

                           <!--//gallery-->

                      </div>

{% endblock %}
