{% extends 'admintemplates/adminbase.html' %}
{% block adminjobseekerlist %} active {% endblock %}

{% load static %}


{% block content %}

<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">This is Jobseeker List Page.</h3>
	    <table class="table table-bordered">
	    	<head>
	    		<tr>
	    			<th>SN</th>
	    			<th>Full Name</th>
	    			<th>Email</th>
	    			<th>Mobile</th>
	    			<th>Address</th>
	    			<th>Action</th>

	    		</tr>
	    	</head>
	    	<tbody>
	    		{% for jbs in alljbs %}
	    		<tr>
	    			<td>{{forloop.counter}}</td>
	    			<td><a href="{% url 'quickapp:adminjobseekerdetail' jbs.id %}">{{jbs.full_name}}</a></td>
	    			<td>{{jbs.email}}</td> 
	    			<td>{{jbs.mobile}}</td>
	    			<td>{{jbs.address}}</td><
	    			<td><a href="{% url 'quickapp:adminjobseekerdetail' jbs.id %}">Delete</a></td>
	    		</tr>
	    		{% endfor %}
	    	</tbody>
	    </table>
	</div>
</div>


<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>




{% endblock %}