{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block content %}

<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Employer Detail</h3>
		<table class="table table-striped">
			<tr>
				<th>Full Name</th>
				<td>{{adminempdetail.full_name}}</td>
			</tr>
			<tr>
				<th>Company Name</th>
				<td>{{adminempdetail.company_name}}</td>
			</tr>
			<tr>
				<th>Company Logo</th>
				<td>{{adminempdetail.company_logo}}</td>
			</tr>
			<tr>
				<th>Company Photo</th>
				<td>{{adminempdetail.company_photo}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{adminempdetail.address}}</td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td>{{adminempdetail.mobile}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{adminempdetail.email}}</td>
			</tr>
			<tr>
				<th>Website</th>
				<td>{{adminempdetail.website}}</td>
			</tr>
			<tr>
				<th>Location</th>
				<td>{{adminempdetail.location}}</td>
			</tr>
			<tr>
				<th>About</th>
				<td>{{adminempdetail.about}}</td>
			</tr>
			<tr>
			</tr>
		</table>
	</div>
</div>



<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>

{% endblock %}