{% extends 'admintemplates/adminbase.html' %}
{% block categorylist %} active {% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">Category Lists</h3>
	    <table class="table table-bordered">
	    	<head>
	    		<tr>
	    			<th>Title</th>
	    			<th>Deadline</th>
	    			<th>Salary</th>
	    			<th>Employer</th>
	    			<th>Image</th>
	    			<th>Action</th>

	    		</tr>
	    	</head>
	    	<tbody>
	    		{% for adminjoblist in adminjoblists %}
	    		<tr>
	    			<td><a href="{% url 'quickapp:adminjobdetail' adminjoblist.id %}">{{adminjoblist.title}}</a></td>
	    			<td>{{adminjoblist.deadline}}</td>
	    			<td>{{adminjoblist.salary}}</td>
	    			<td>{{adminjoblist.employer}}</td>

                    <td><img src="{{adminjoblist.image.url}}" class="img-fluid" width="100"></td>
	    			<td><a href="{% url 'quickapp:adminjobdelete' adminjoblist.id %}">Delete</a></td>
	    		</tr>
	    		{% endfor %}
	    	</tbody>
	    </table>
	</div>
</div>




<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>


{% endblock %}