{% load static %}
     
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{% static 'adminstatic/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'adminstatic/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
<script src="{% static 'adminstatic/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'adminstatic/js/amcharts.js' %}"></script>	
<script src="{% static 'adminstatic/js/serial.js' %}"></script>	
<script src="{% static 'adminstatic/js/light.js' %}"></script>	
<script src="{% static 'adminstatic/js/radar.js' %}"></script>	
<link href="{% static 'adminstatic/css/barChart.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'adminstatic/css/fabochart.css' %}" rel='stylesheet' type='text/css' />
<!--clock init-->
<script src="{% static 'adminstatic/js/css3clock.js' %}"></script>
<!--Easy Pie Chart-->
<!--skycons-icons-->
<script src="{% static 'adminstatic/js/skycons.js' %}"></script>

<script src="{% static 'adminstatic/js/jquery.easydropdown.js' %}"></script>

<!--//skycons-icons-->
</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	   <div class="inner-content">
		<!-- header-starts -->
			<div class="header-section">
						<!--menu-right-->
							<!--/profile_details-->
								<div class="profile_details_left">
									<ul class="nofitications-dropdown">
									       <li class="dropdown note">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i>update</i></a>

												
													<ul class="dropdown-menu two first">

														<li><a href="#">
														  
														   <div >
															<h4><a href="/about/1/update/">About</a></h4>
															<div class="clearfix"></div>	
														 </a></li>
														 <li class="odd"><a href="#">
															
														   <div class="notification_desc">
															<h4><a href="/contact/1/update/">Contact</a></h4>
															
															</div>
														  <div class="clearfix"></div>	
														 </a></li>
														
													</ul>
										</li>

																	Logged in as : {{request.user.username}}		   							   		
							<div class="clearfix"></div>	
								</ul>
							</div>
							<div class="clearfix"></div>	
							<!--//profile_details-->
						</div>
						<!--//menu-right-->
					<div class="clearfix"></div>
				</div>
					<!-- //header-ends -->
						<div class="outter-wp">


						{% block content %}

						{% endblock %}
				</div>


	{% block js %}
     

    {% endblock %}

	
	<!-- js -->
	<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="{% url 'quickapp:adminhome' %}"> <span id="logo"> <h1>Quickjob	</h1></span> 
					<!--<img id="logo" src="" alt="Logo"/>--> 
				  </a> 
				</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<!--/down-->
							<div class="down">	
									  <a href="{% url 'quickapp:adminhome' %}"><img src="{% static 'adminstatic/images/admin.jpg' %}"></a>
									  <a href="{% url 'quickapp:adminhome' %}"><span class=" name-caret">Prabin Chaudhary</span></a>
									 <p>System Administrator in Quickjob</p>
									<ul>
									<li><a class="tooltips" href="{% url 'quickapp:adminprofile' %}"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
										<li><a class="tooltips" href="{% url 'quickapp:adminhome' %}"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
										<li><a class="tooltips" href="{% url 'quickapp:logout' %}"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
										</ul>
									</div>
							   <!--//down-->
                           <div class="menu">
									<ul id="menu" >
										<li class="{% block createcategory %} {% endblock %}"><a href="{% url 'quickapp:adminjobcategorycreate' %}"><i class="lnr lnr-pencil"></i> <span>create category</span></a></li>
										<li class="{% block categorylist %} {% endblock %}"><a href="{% url 'quickapp:adminjobcategorylist' %}"><i class="lnr lnr-pencil"></i> <span>category list</span></a></li>
										<li class="{% block employerlist %} {% endblock %}"><a href="{% url 'quickapp:adminemployerlist' %}"><i class="lnr lnr-pencil"></i> <span>Employer list</span></a></li>
										<li class="{% block adminjobseekerlist %} {% endblock %}"><a href="{% url 'quickapp:adminjobseekerlist' %}"><i class="lnr lnr-pencil"></i> <span>Jobseeker list</span></a></li>
										<li class=""><a href="{% url 'quickapp:adminjoblist' %}"><i class="lnr lnr-pencil"></i> <span>Jobs list</span></a></li>

										<!-- <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Tabs &amp; Panels</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
											<li id="menu-academico-avaliacoes" ><a href="tabs.html"> Tabs &amp; Panels</a></li>
											<li id="menu-academico-boletim" ><a href="widget.html">Widgets</a></li>
											<li id="menu-academico-avaliacoes" ><a href="calender.html">Calendar</a></li>
											
										  </ul>
										</li>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-file-text-o"></i> <span>Ui Elements</span> <span class="fa fa-angle-right" style="float: right"></span></a>
											 <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="forms.html">Forms</a></li>
												<li id="menu-academico-boletim" ><a href="validation.html">Validation Forms</a></li>
												<li id="menu-academico-boletim" ><a href="table.html">Tables</a></li>
												<li id="menu-academico-boletim" ><a href="buttons.html">Buttons</a></li>
											  </ul>
										 </li>
									<li><a href="typography.html"><i class="lnr lnr-pencil"></i> <span>Typography</span></a></li>
									<li id="menu-academico" ><a href="#"><i class="lnr lnr-book"></i> <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										  <ul id="menu-academico-sub" >
										    <li id="menu-academico-avaliacoes" ><a href="login.html">Login</a></li>
										    <li id="menu-academico-boletim" ><a href="register.html">Register</a></li>
											<li id="menu-academico-boletim" ><a href="404.html">404</a></li>
											<li id="menu-academico-boletim" ><a href="sign.html">Sign up</a></li>
											<li id="menu-academico-boletim" ><a href="profile.html">Profile</a></li>
										  </ul>
									 </li>
									 <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Mail Box</span><span class="fa fa-angle-right" style="float: right"></span></a>
									   <ul>
										<li><a href="inbox.html"><i class="fa fa-inbox"></i> Inbox</a></li>
										<li><a href="compose.html"><i class="fa fa-pencil-square-o"></i> Compose Mail</a></li>
										<li><a href="editor.html"><span class="lnr lnr-highlight"></span> Editors Page</a></li>
									
									  </ul>
									</li>
							        <li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span>Components</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										 <ul id="menu-academico-sub" >
											<li id="menu-academico-avaliacoes" ><a href="grids.html">Grids</a></li>
											<li id="menu-academico-boletim" ><a href="media.html">Media Objects</a></li>

										  </ul>
									 </li>
									<li><a href="chart.html"><i class="lnr lnr-chart-bars"></i> <span>Charts</span> <span class="fa fa-angle-right" style="float: right"></span></a>
									  <ul>
										<li><a href="map.html"><i class="lnr lnr-map"></i> Maps</a></li>
										<li><a href="graph.html"><i class="lnr lnr-apartment"></i> Graph Visualization</a></li>
									</ul>
									</li>
									<li id="menu-comunicacao" ><a href="#"><i class="fa fa-smile-o"></i> <span>More</span><span class="fa fa-angle-double-right" style="float: right"></span></a>
									  <ul id="menu-comunicacao-sub" >
										<li id="menu-mensagens" style="width:120px" ><a href="project.html">Projects <i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
										  <ul id="menu-mensagens-sub" >
											<li id="menu-mensagens-enviadas" style="width:130px" ><a href="ribbon.html">Ribbons</a></li>
											<li id="menu-mensagens-recebidas"  style="width:130px"><a href="blank.html">Blank</a></li>
										  </ul>
										</li>
										<li id="menu-arquivos" ><a href="500.html">500</a></li>
									  </ul>
									</li> -->
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>		
							</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>
<!--js -->
<link rel="stylesheet" href="{% static 'adminstatic/css/vroom.css' %}">
<script type="text/javascript" src="{% static 'adminstatic/js/vroom.js' %}"></script>
<script type="text/javascript" src="{% static 'adminstatic/js/TweenLite.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminstatic/js/CSSPlugin.min.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'adminstatic/js/scripts.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
   <script src="{% static 'adminstatic/js/bootstrap.min.js' %}"></script>
    <!--footer section start-->
										<footer>
										   <p>&copy 2019 Quickjob . All Rights Reserved | Design by <a href="#" target="_blank">MitJiuGroup.</a></p>
										</footer>
									<!--footer section end-->
</body>

</html>