{% extends 'admintemplates/adminbase.html' %}
{% block employerlist %} active {% endblock %}

{% load static %}

{% block content %}
<h3 class="text-center">Employer list</h3>

<div class="row">
	<div class="col-md-12">
	    <!-- <h3>This is {{full_name.full_name}}</h3> -->
	    <table class="table table-bordered">
	    	<head>
	    		<tr>
	    			<th>SN</th>
	    			<th>Full Name</th>
	    			<th>Company Name</th>
	    			<th>Mobile</th>
	    			<th>Email</th>
	    			<th>Action</th>


	    		</tr>
	    	</head>
	    	<tbody>
	    		{% for emp in adminemployerlists %}
	    		<tr>
	    			<td>{{forloop.counter}}</td>
	    			<td><a href="{% url 'quickapp:adminemployerdetail' emp.id %}">{{emp.full_name}}</a></td>
		   			<td>{{emp.company_name}}</td> 
	    			<td>{{emp.mobile}}</td>
	    			<td>{{emp.email}}</td>
	    			<td><a href="{% url 'quickapp:adminemployerdelete' emp.id %}">Delete</a></td>
	    		</tr>
	    		{% endfor %}
	    	</tbody>
	    </table>
	</div>
</div>



<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>





{% endblock %}