{% extends 'admintemplates/adminbase.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3>Delete JobSeeker</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h4>Are sure to delete this category</h4>
			<button class="btn btn-outline-success">Yes</button>
			<a href="{% url 'quickapp:adminjobseekerlist' %}">No</a>
		</form>
	</div>
</div>

{% endblock %}