{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}


<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Jobseeker Detail</h3>
		<table class="table table-striped">
			<tr>
				<th>Full Name</th>
				<td>{{adminjbsdetail.full_name}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{adminjbsdetail.email}}</td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td>{{adminjbsdetail.mobile}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{adminjbsdetail.address}}</td>
			</tr>
			<tr>
				<th>CV</th>
				<td>{{adminjbsdetail.cv}}</td>
			</tr>
			<tr>
				<th>Skill</th>
				<td>{{adminjbsdetail.skill}}</td>
			</tr>
			<tr>
				<th>DOB</th>
				<td>{{adminjbsdetail.dob}}</td>
			</tr>
			<tr>
				<th>Education</th>
				<td>{{adminjbsdetail.education}}</td>
			</tr>
		</table>
	</div>
</div>

<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>
															 

{% endblock %}