{% extends 'admintemplates/adminbase.html' %}
{% block content %}

<div class="row">
	<div class="col-md-4">
		<h3 class="text-center">Category Detail</h3>
		<table class="table table-striped">
			<tbody>
			<tr>
				<th>Title</th>
				<td>{{categorydetail.title}}</td>
			</tr>
				
			<tr>
				<td>
					
				<img src="{{categorydetail.image.url}}" class="img-fluid">
				</td>
			</tr>
			</tbody>
				
		</table>
	</div>
	<div class="col-md-8">
		<h4>Related Jobs</h4>
		<table class="table">
			<thead>
				<tr>
					<th>SN</th>
					<th>Title</th>
					<th>Employer</th>
					<th>Posted on</th>
					<th>Deadline</th>
					<th>Applications</th>
				</tr>
			</thead>
			<tbody>
				{% for job in categorydetail.job_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{job.title}}</td>
					<td>{{job.employer.company_name}}</td>
					<td>{{job.created_at}}</td>
					<td>{{job.deadline}}</td>
					<td>{{job.application_set.count}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>
</div>



<div class="error-btn">
 <a class="read fourth" href="{% url 'quickapp:adminhome' %}">Return to Home</a>
</div>


{% endblock %}