{% extends 'admintemplates/adminbase.html' %}

{% block content %}

	<!-- register -->



	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">Create Now </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form.telephone}}<br><br>
							{{form.email}}<br>
							{{form.image}}<br>
							{{form.location}}

							<input type="submit" value="Done" id="save_button">
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>








{% endblock %}