{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">Delete Employer</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h4>Are sure to Delete This Employer</h4>
			<button class="btn btn-outline-success">Yes</button>
			<button class="btn btn-outline-primary">No</button>
		</form>
	</div>
</div>

{% endblock %}