{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% block content %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Professionals</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Professionals</li>
			</ul>
		</div>
	</div>
<div class="row">
	<div class="col-md-12">
		{{thisuser.full_name}}pravin ****************
<!-- 	    <table class="table table-bordered">
	    	<head>
	    		<tr>
	    			<th>SN</th>
	    			<th>Full Name</th>
	    			<th>Email</th>
	    			<th>Mobile</th>
	    			<th>Address</th>

	    		</tr>
	    	</head>
	    	<tbody>
	    		{% for j_p_dlist in j_profilelist %}
	    		<tr>
	    			<td>{{forloop.counter}}</td>
	    			<td><a href="{% url 'quickapp:jobseekerprofiledetail' j_p_dlist.id %}">{{j_p_dlist.full_name}}</a></td>
	    			<td>{{j_p_dlist.email}}</td> 
	    			<td>{{j_p_dlist.mobile}}</td>
	    			<td>{{j_p_dlist.address}}</td>
	    		</tr>
	    		{% endfor %}
	    	</tbody>
	    </table> -->
	</div>
</div>



{% endblock %}