{% extends 'jobseekertemplates/jobseekerbase.html' %}

{% block content %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Professionals</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Professionals</li>
			</ul>
		</div>
	</div>

<h3>this is jobseeker home page</h3>
<a href="{% url 'quickapp:jobseekerprofiledetail' %}">My Profile</a>

{% endblock %}